<div class="page-header">
  <h1>
    <span>Nova série</span>
  </h1>
</div>

<table class='worksheet table table-condensed'>
  <thead>
    <tr>
      <th><span><span>
          <span>Exercise</span>
      </span</span></th>
      <th>Set 1</th>
      <th>Set 2</th>
      <th>Set 3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td class='odd'>W / R</td>
      <td class='even'>W / R</td>
      <td class='odd'>W / R</td>
    </tr>
    <tr>
      <td></td>
      <td class='odd'>W / R</td>
      <td class='even'>W / R</td>
      <td class='odd'>W / R</td>
    </tr>
    <tr>
      <td></td>
      <td class='odd'>W / R</td>
      <td class='even'>W / R</td>
      <td class='odd'>W / R</td>
    </tr>
    <tr>
      <td></td>
      <td class='odd'>W / R</td>
      <td class='even'>W / R</td>
      <td class='odd'>W / R</td>
    </tr>
  </tbody>
</table>

<% render :partial => 'form' %>
